.logo-element {
    padding: 0;

    img {
        width: 100%;
    }
}

.username {
    overflow: hidden;
    text-overflow: ellipsis;
}

.profile {

    &-element {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-avatar {
        $avatar-size: 50px;
        display: flex;
        flex-direction: column;
        width: $avatar-size;
        height: $avatar-size;
        border-radius: 50%;
        overflow: hidden;

        img {
            object-fit: cover;
            width: 100%;
            min-height: 100%;
        }
    }
}
