<!-- Wrapper-->
<div id="wrapper">

    <!-- Left navigation bar -->
    <app-side-navigation *ngIf="(isLoggedIn | async)" [user]="currentUser"></app-side-navigation>

    <!-- Main page wrapper -->
    <div id="page-wrapper" class="gray-bg">

        <!-- Top navigation -->
        <app-top-navigation *ngIf="(isLoggedIn | async)"></app-top-navigation>

        <!-- Main view/routes wrapper-->
        <router-outlet></router-outlet>

        <!-- Footer -->
        <footer></footer>

    </div>
    <!-- End page wrapper-->

</div>
<!-- End wrapper-->
