<app-view-container>
    <ng-container toolbar>
        <h2>Music Scores</h2>
        <breadcrumb #parent>  
            <ol class="breadcrumb">
              <ng-template ngFor let-route [ngForOf]="parent.breadcrumbs">
                <li *ngIf="!route.terminal" class="breadcrumb-item">
                  <a href="" [routerLink]="[route.url]">{{ route.displayName }}</a>
                </li>
                <li *ngIf="route.terminal" class="breadcrumb-item active" aria-current="page">{{ route.displayName }}</li>
              </ng-template>
            </ol>
          </breadcrumb> 
    </ng-container>
    <ng-container content>
        <div class="ibox-content m-b-sm border-bottom">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <input type="text" [formControl]="searchControl" [attr.maxlength]="50" placeholder="Search"
                                    class="form-control">
                        </div>
                    </div>  
                    <div class="col-sm-6"></div>  
                    <div class="col-sm-2">
                        <div class="form-group">
                            <a routerLink="/music-scores/create" class="float-right">
                                <button class="btn-primary btn" type="button">Create New</button>
                            </a>
                        </div>
                    </div>             
                </div>
        </div>
        <app-songsheets-table [term]="q" [events]="eventsSubject.asObservable()"></app-songsheets-table>
    </ng-container>
</app-view-container>
